table, table td {
    border-collapse:collapse;
    border: 1px solid black;
}

#letters td {
    font-weight:bold;
    text-decoration:underline;
    width: 25px;
    text-align:center;
    cursor:pointer;
}

.subdivs td {
    width: 95px;
}

.subdivs td span {
    font-size:small;
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

.dir {
    text-decoration:underline;
    text-align:center;
    cursor:pointer;
}
.sel {
    font-weight:bold;
    background-color:#aaaaaa;
}
#letters {
    display:none;
}
